.category{
    height: 8%;
    
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    background: black;
    /* color: white; */
    overflow: auto;
    
}

.category::-webkit-scrollbar{
    display: none;
}

.category-name{
    width: fit-content;
    height: 70%;
    padding: 5px 10px;
    background: rgb(77, 75, 75); 
    
    border-radius: 10px;
    color: white;
    transition:  .3s ease-in-out;
    font-family:'Times New Roman', Times, serif;
}

.active{
    width: fit-content;
    height: 70%;
    padding: 5px 10px;
    background: rgb(161, 152, 152);
    
    border-radius: 10px;
    color: white;
    transition:  .3s ease-in-out;
    font-family:'Times New Roman', Times, serif;
}

.category-name:hover{
    cursor: pointer;
    background: rgb(109, 106, 106); 
}