.sidebar-menu{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   padding: 10px 0;
}

.sidebar-menu-logo{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 80px;
    width: 80%;
    background: transparent;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

.sidebar-menu-logo>svg{
    font-size: 25px;
    cursor: pointer;
    
}

.sidebar-menu-logo>span{
    font-size: 13px;
}

.sidebar-menu-logo:hover{
    background: gray;
}
